<div class="container animated fadeIn"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutWrap
  fxLayoutGap="5%"
  fxLayoutAlign="center"
  style="margin-bottom: 10%;  margin-top: 30px;">
  <div fxFlex="100%">
    <mat-card class="mat-elevation-z4 card-home">
      <mat-card-header>
        <mat-card-title style="color: brown;">Sin autorización</mat-card-title>
        <mat-card-subtitle style="color: #000;">Acceso denegado.</mat-card-subtitle>
        <span class="example-spacer"></span>
        <mat-icon style="color: brown; font-size: 50px; width: auto; height: auto;">not_interested</mat-icon>
      </mat-card-header>
      <mat-card-content style="margin: 0 16px;">
      </mat-card-content>
      <mat-card-actions style="margin: 0 8px;">
        <div class='test'>
          <div style='float: left;'>
            <button mat-raised-button routerLink="/">
              Ir a inicio
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <div style="padding: 20px; color:brown;">
  <h4>Sin autorización</h4>
  <p>Acceso denegado.</p>
  <a href="#" routerLink="/">Ir a inicio</a>
</div> -->
