<div fxLayoutAlign="center" style="margin-bottom: 3%;  margin-top: 10px;">
    <div style="width: 100% !important; padding: 16px;" class="animated fadeIn" fxLayout="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center">
        <div fxFlex="100%">
            <mat-card style="width: 100% !important; padding: 5px !important;;" class="mat-elevation-z6">
                <mat-card-header>
                    <mat-card-title>Reporte</mat-card-title>
                    <mat-card-subtitle style="color: #000;">
                        Reporte general de información
                    </mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <mat-progress-spinner *ngIf="!endloading" diameter="50" [color]="mpbcolor" [mode]="mpbmode" [value]="mpbvalue">
                    </mat-progress-spinner>
                    <button mat-raised-button *ngIf="endloading" (click)="Salir()" matTooltip="Cerrar Ventana" style="margin: 0 16px; height: 40px;">
                      Cerrar
                    </button>
                </mat-card-header>
            </mat-card>
        </div>
        <div fxFlex="100%">
            <div style="width: 100% !important">
                <iframe *ngIf="ReportUrl" [src]="ReportUrl" width="100%" height="700px" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
